<% layout('layouts/boilerplate') %> 

<style>
    .condiciones {
        margin-top: 80px;
        background-color: rgb(255, 248, 243);
    }
</style>

<section class="condiciones">
    <div class="condicion container container--px">

        <div class="condicion__intro">
            <h1>Condiciones & Previsiones</h1>
        </div>

        <div class="condicion__grid">
            <div class="condicion__card">
                <div class="condicion__contenido">
                    <div class="condicion__capitulo">
                        <h3>Crea una cuenta</h3>
                    </div>
    
                    <div class="condicion__contenido">
                        <ul>
                            <li>Al crear una cuenta en FibonaSer,  acepta

 
                                <a href="/política de privacidad">Política de privacidad</a>FibonaSer y usted son completamente responsables de la cuenta que crea.</li>

                            <li>Después de crear una cuenta, debe verificar su correo electrónico para disfrutar del contenido de FibonaSer.</li>

                            <li>El correo electrónico de verificación solo se envía una vez a su correo electrónico, por la seguridad de su cuenta y FibonaSer</li>

                            <li>Los correos electrónicos que no se verifiquen durante más de 1 día se eliminarán automáticamente de la base de datos. Si eso sucede, debe volver a registrar su correo electrónico y luego debe verificar su correo electrónico.</li>

                            <li>Para utilizar algunas funciones de FibonaSer, debe crear una cuenta. Por lo tanto, usted es responsable de los datos de su cuenta. No comparta la privacidad de su cuenta con otros para evitar el abuso de la cuenta.</li>

                            <li>Para niños menores de 13 años, se recomienda ir acompañados de sus padres para crear una cuenta en FibonaSer. Y si desea utilizar Gmail, GitHub o Facebook para registrarse, consulte los términos y condiciones de la aplicación.</li>

                            <li>Debe ingresar datos de correo electrónico válidos y la información correctamente. De lo contrario, su cuenta se bloqueará y ya no podrá acceder a FibonaSer.</li>

                            <li>Cada cuenta solo puede ser propiedad de una persona y no puede ser delegada u obligada por otros a crear una cuenta de FibonaSer.</li>

                            <li>No puedo crear mi cuenta de FibonaSer para fines ilegales. Si lo hay, entonces FibonaSer impondrá sanciones a los perpetradores relevantes.

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="condicion__contenido">
                    <div class="condicion__capitulo">
                        <h3>Uso de materiales</h3>
                    </div>
    
                    <div class="condicion__contenido">
                        <ul>
                            <li>Para acceder a todo el contenido de FibonaSer, debe crear una cuenta. Por lo tanto, aceptas automáticamente
                                <a href="/politica de privacidad">Política de Privasidad</a>y la condición "Crear cuenta" de FibonaSer.</li>

                            <li>Todo el contenido de FibonaSer es propiedad exclusiva de FibonaSer. La piratería, la difusión de información falsa y el uso ilegal estarán sujetos a las sanciones correspondientes.</li>
                            <li>Puede compartir el material en FibonaSer con la función de enlace de copia en el video, pero no puede guardarlo de forma privada y vender material de FibonaSer.</li>
                            <li>Está prohibido hacer productos similares como FibonaSer sin un permiso válido de FibonaSer.</li>
                            <li>Si desea utilizar el contenido de FibonaSer. Luego debe dar crédito a FibonaSer en el formato: "<b>Todo el contenido de FibonaSer está disponible de forma gratuita en www.fibonaSer.com</b>".</li>
                        </ul>
                    </div>
                </div>

                <div class="condicion__contenido">
                    <div class="condicion__capitulo">
                        <h3>Conducta Prohibida</h3>
                    </div>
    
                    <div class="condicion__contenido">
                        <ul>
                            <li>Usar todo tipo de instalaciones proporcionadas por FibonaSer para beneficio personal y para empresas comerciales.</li>
                            <li>Compartir, cargar y distribuir contenido inexacto de FibonaSer en varios tipos de plataformas fcontent y nonfcontent.</li>
                            <li>Usar FibonaSer contenido para atacar o herir a otros.</li>
                            <li>Elimine los derechos de autor en FibonaSer y no escriba crédito a FibonaSer si usa el contenido de FibonaSer personalmente.</li>
                            <li>Compartir contenido de FibonaSer y luego cambiar el contenido del contenido sin un permiso válido de FibonaSer.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script async>
    document.title = 'condiciones & Terminos | FibonaSer';
</script>