<% layout('layouts/boilerplate') %> 

<style>
    .acuerdos {
        margin-top: 80px;
    }
</style>

<section class="acuerdos">
    <%- include('../partials/flash') %>
    <div class="acuerdo container container--px">
        <div class="acuerdo__intro">
            <h1>Acuerdo</h1>
        </div>

        <div class="acuerdo__grid">
            <div class="acuerdo__card">
                <div class="acuerdo__contenido">
                    <form class="acuerdo__form" action="/acuerdo/password?_method=PUT" method="POST" name="theform" novalidate class="validated-form">
                        <div class="titulo">
                            <div class="eleccion-password">
                                <a href="/acuerdo/cuenta"><h3 class="cuenta">Cuenta</h3></a>
                                <a href="/acuerdo/password"><h3 class="password">Password</h3></a>
                            </div>
                            <hr>
                        </div>
                        <div class="informacion">
                            <p>La creación de una contraseña le permite iniciar sesión con su nombre de usuario y contraseña de FiboSer.</p>
                        </div>
                        <% if(user.isPassword) { %> 
                        <div class="acuerdo__contenido">
                            <label for="password" class="acuerdo__label form-label">Contraseña anterior</label>
                            <input class="password-input form-control acuerdo__input" type="password" id="password-anterior" name="currentPassword" required>
                            <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>
                            <div id="validation-message-anterior" class="valid-error"></div>
                            <div class="invalid-feedback">
                                Ingrese la contraseña anterior
                            </div>
                        </div>
                        <% } %> 
                        <div class="acuerdo__contenido">
                            <label for="password" class="acuerdo__label form-label">Nueva contraseña</label>
                            <input class="password-input1 form-control acuerdo__input" type="password" id="password-new" minlength="8" name="newPassword" required>
                            <div class="eye-btn1"><i class="uil uil-eye-slash"></i></div>
                            <div id="validation-message-new" class=""></div>
                            <div class="invalid-feedback">
                               Introduzca una nueva contraseña de al menos 8 caracteres.
                            </div>
                        </div>
                        <div class="acuerdo__contenido">
                            <label for="confirm" class="acuerdo__label form-label">Confirmar Password</label>
                            <input class="password-input2 form-control acuerdo__input" type="password" id="password-confirmacion" name="passwordConfirmation" required>
                            <div class="eye-btn2"><i class="uil uil-eye-slash"></i></div>
                            <div id="validation-message-confirmacion" class=""></div>
                            <div class="invalid-feedback">
                                Introduce la contraseña de confirmación
                            </div>
                        </div>

                        <div>
                            <button class="form-group btn-valid-error" type="submit" id="btn-submit">
                                Crear Contraseña
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/profil/password.js" async></script>

<script type='text/javascript' async>
    document.title = 'Acuerdo - Password | FiboSer';
</script>

<script>
    //password show/hide button
    const passwordInput1 = document.querySelector(".password-input1");
    const passwordInput2 = document.querySelector(".password-input2");
    const eyeBtn1 = document.querySelector(".eye-btn1");
    const eyeBtn2 = document.querySelector(".eye-btn2");

    eyeBtn1.addEventListener("click", (e) => {
        if(passwordInput1.type === "password") {
            passwordInput1.type = "text";
            eyeBtn1.innerHTML = "<i class='uil uil-eye'></i>"
        }
        else {
            passwordInput1.type = "password";
            eyeBtn1.innerHTML = "<i class='uil uil-eye-slash'></i>"
        }
    });

    eyeBtn2.addEventListener("click", (e) => {
        if(passwordInput2.type === "password") {
            passwordInput2.type = "text";
            eyeBtn2.innerHTML = "<i class='uil uil-eye'></i>"
        }
        else {
            passwordInput2.type = "password";
            eyeBtn2.innerHTML = "<i class='uil uil-eye-slash'></i>"
        }
    });
</script>

<script>
    const passwordInput = document.querySelector(".password-input");
    const eyeBtn = document.querySelector(".eye-btn");
    eyeBtn.addEventListener("click", (e) => {
        if(passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeBtn.innerHTML = "<i class='uil uil-eye'></i>"
        }
        else {
            passwordInput.type = "password";
            eyeBtn.innerHTML = "<i class='uil uil-eye-slash'></i>"
        }
    });
</script>