<% layout('layouts/boilerplate') %> 

<style>
    .politicas {
        background-color: rgb(255, 248, 243);
        margin-top: 80px;
    }
</style>

<section class="politicas">
    <div class="politica container container--px">

        <div class="politica__intro">
            <h1>Política Privada</h1>
        </div>

        <div class="politica__grid">
            <div class="politica__card">
                <div class="politica__contenido">
                    <div class="politica__capitulo">
                        <h3>principios de seguridad de FiboSer</h3>
                    </div>

                    <div class="politica__descripcion">
                        Todas las políticas de privacidad de FiboSer utilizan los siguientes principios:
                    </div>
    
                    <div class="politica__contenido">
                        <ul>
                            <li>FiboSer no vende datos a terceros. Todos los datos se mantienen seguros.</li>

                            <li>FiboSer no muestra anuncios. El objetivo es que su experiencia de aprendizaje no se vea interrumpida por anuncios que aparecen de repente.</li>

                            <li>FiboSer se compromete a proporcionar un entorno de aprendizaje seguro y protegido contra ataques de terceros.</li>
                        </ul>
                    </div>
                </div>

                <div class="politica__contenido">
                    <div class="politica__capitulo">
                        <h3>Data Información</h3>
                    </div>

                    <div class="politica__descripcion">
                        FiboSer toma los siguientes datos, si desea crear una cuenta y aprender. 
                    </div>

                    <div class="politica__contenido">
                        <ul>
                            <li>FiboSer recupera datos en vivo cuando crea una cuenta, para usar el contenido del sistema.</li>

                            <li>Cuando crea una cuenta, la contraseña que crea se almacena de forma segura y cifrada automáticamente por el sistema.FiboSer en sí no conoce su contraseña personal, porque se cifra automáticamente.</li>

                            <li>La información personal de los datos de la cuenta que puede conectar a FiboSer (Ejemplo: Gmail, GitHub, Facebook) no es almacenada por FiboSer.</li>

                            <li>Ejemplos de datos de información durante el registro son: nombre completo, nombre de usuario, correo electrónico.</li>
                        </ul>
                    </div>
                </div>

                <div class="politica__contenido">
                    <div class="politica__capitulo">
                        <h3>Uso de datos de información</h3>
                    </div>

                    <div class="politica__descripcion">
                        FiboSer toma datos de información para los siguientes propósitos:
                    </div>

        <div class="politica__contenido">
            <ul>
                    <li>Le da acceso para utilizar todo el contenido disponible en FiboSer.</li>

                            <li>Memberikan FibonacciKu informasi, seberapa jauh kamu memakai fasilitas FibonacciKu.</li>

                            <li>Proporcionar información sobre FiboSer, hasta qué punto utiliza las instalaciones de FiboSer.

                            </li>

                            <li>Mejorando las instalaciones de FiboSer para que estés aún más satisfecho al estudiar en FiboSer.</li>
                        </ul>
                    </div>
                </div>

                <div class="politica__contenido">
                    <div class="politica__capitulo">
                        <h3>Transparencia y Elección</h3>
                    </div>

                    <div class="politica__descripcion">
                        FiboSEr entiende, Que no hay obligación de proporcionar datos de información personal. Por lo tanto, FiboSer brinda opciones cuando desea crear una cuenta de la siguiente manera:
                    </div>

                    <div class="politica__contenido">
                        <ul>
                            <li>El límite mínimo de datos de información que debes facilitar.</li>
                            <li>Puede elegir si desea conectar su cuenta a las redes sociales (Ejemplo: Instagram, GitHub, Twitter).</li>

                            <li>Para crear una cuenta usando GitHub, puede iniciar sesión sin tener que usar un correo electrónico. Porque en GitHub, puedes ocultar tu información de correo electrónico. Sin embargo, puede haber algunas características de FiboSer que no disfrute.</li>

                            <li>Cambie y elimine sus datos de información a través de la configuración de la cuenta.</li>

                            <li>Si desea eliminar su cuenta, comuníquese con FiboSer con la función de contacto.</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<script async>
    document.title = 'Política de Privacidad | FiboSer';
</script>