<footer class="footer">

    <div class="container">
        <% if(!currentUser) {%> 
        <a class="footer__logo" href="/">
            <img src="/img/icon/SERGIO07.jpg" style="width: 3em;">
        </a>
        <% } else {%> 
        <a class="footer__logo" href="/home">
            <img src="/img/icon/SERGIO07.jpg" style="width: 3em;">
        </a>
        <% } %> 

        <div class="footer__social">
            <a href="https://www.instagram.com/fibonacciku.id/" target="_blank">
                <img src="/img/home/instagram.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/company/fibonacciku" target="_blank">
                <img src="/img/home/linkedin.png" alt="Linkedin">
            </a>
            <a href="#" target="_blank">
                <img src="/img/home/youtube.png" alt="Youtube">
            </a>
        </div>

        <div class="footer__links col1">
            <a href="/carrera">Carrera</a>
            <a href="/contacto">Contactos</a>
            <a href="/acerca/tim">Sergio Moncada</a>
        </div>

        <div class="footer__links col2">
            <a href="/acerca">Sergio Moncada</a>
           
        </div>

        <div class="footer__cta">
            <a href="#" target="_blank" class="button">Donación</a>
        </div>

        <div class="footer__copyright">
            Sergio Moncada - Venezuela &copy; FibonaSer 2023. All Rights Reserved
        </div>
    </div>

</footer>