<section class="hero">
    <%- include('../partials/flash') %>
    <div class="container">
        
        <div class="hero__image"></div>

        <div class="hero__text container--pall">
            <h1>
                Aprende gratis en cualquier momento y en cualquier lugar.
            </h1>
            <p>
                FibonaSer cree que todos merecen una educación gratuita de calidad
            </p>
            
            <div class="hero__register hide-for-mobile">
                <a href="/ingresar" class="button header__cta">Ingresar</a>
                <a href="/registrar" class="button header__cta">Registro</a>
            </div>
        </div>
    </div>
</section>

<section class="feature">

    <div class="feature container container--pall">

        <div class="feature__intro">
            <h2>¿Por qué elegir FibonaSer?</h2>
            <p>
                Brindamos educación gratuita para los Venezolanos.
                en todo el mundo al que se puede acceder en cualquier momento y en cualquier lugar.
            </p>
        </div>

        <div class="feature__grid">
            <div class="feature__item">
                <div class="feature__icon auto_learning">
                    <!--<img src="/fiboweb/images/dino_pembelajaran_mandiri.svg">-->
                </div>
                <div class="feature__title">
                    Aprende Independientemente ..!
                </div>
                <div class="feature__description">
                    Los estudiantes aprenden a su propia ritmo, con el objetivo de llenar la falta
                    de comprensión de un material para tener una base sólida.
                </div>
            </div>

            <div class="feature__item">
                <div class="feature__icon contenido_de_confianza">
                    <!--<img src="/fiboweb/images/burung_konten_terpercaya.svg">-->
                </div>
                <div class="feature__title">
                    Contenido Confiable.
                </div>
                <div class="feature__description">
                    Creado por estudiantes experimentados en Alemania.
                    en su campo y les gusta enseñar con todo su corazón.
                </div>
            </div>

            <div class="feature__item">
                <div class="feature__icon aprender_divertirse">
                    <!--<img src="/fiboweb/images/dinoair_belajar_asyik.svg">-->
                </div>
                <div class="feature__title">
                    Aprende divirtiendote.
                </div>
                <div class="feature__description">
                    Aprender es simple y ciertamente divertido.
                    para todas las edades.
                </div>
            </div>

            <div class="feature__item">
                <div class="feature__icon  acceso_gratis">
                    <!--<img src="/fiboweb/images/triceratop_akses_gratis.svg">-->
                </div>
                <div class="feature__title">
                    Acceso Gratis.
                </div>
                <div class="feature__description">
                    Se puede acceder a todos los materiales en FibonaSer de forma gratuita
                    cuando y donde sea que estés.
                </div>
            </div>
        </div>
    </div>

</section>

<section class="donacion">
    <div class="container">

        <div class="donacion__image"></div>

        <div class="donacion__text container--pall">
            <h1>
                Te necesitamos ....
            </h1>
            <p>
                La donación que das significa mucho
                por nosotros, para que siempre podamos dar
                educación gratuita de calidad para todos ustedes.
            </p>
            <a href="#" target="_blank" class="button footer__cta">Done ahora</a>
        </div>

    </div>
</section>